In [6]:
import pandas as pd

data_excel = pd.read_excel('/content/drive/MyDrive/excel_file.xlsx')

data_csv = pd.read_csv('//content/drive/MyDrive/csv_file.csv')

data_tsv = pd.read_csv('/content/drive/MyDrive/tab_data.tsv', sep='\t')

print(data_excel)
print(data_csv)
print(data_tsv)

url = 'https://github.com/harikrishnaaa321/AIML_assignments.gits/csv_file.csv'
df_url = pd.read_csv(url)
print("\nData from URL:")
print(df_url)

       Table 1 Unnamed: 1  Unnamed: 2 Unnamed: 3
0        Name        Age        Ht no      Place
1  harikrishna         19  2203A52006   warangal
2         uday         19  2203A52127     Ambala
3       siddhu         19  2203A52227   Indurthi
4       shashi         21  2203A52076     Parkal
5        vinay         19  2203A52099   Warangal
         Name   Age        Ht no     Place
0  harikrishna    19  2203A52006  warangal
1         uday    19  2203A52127    Ambala
2       siddhu    19  2203A52227  Indurthi
3       shashi    21  2203A52076    Parkal
4        vinay    19  2203A52099  Warangal
         Name   Age        Ht no      Place  Unnamed: 4  Unnamed: 5
0  Harikrishna    19  2203A52126  Huzurabad         NaN         NaN
1         Uday    19  2203A52127     Ambala         NaN         NaN
2       siddhu    19  2203A52227   Indurthi         NaN         NaN
3       shashi    21  2203A52076     Parkal         NaN         NaN
4        vinay    19  2203A52099   Warangal         NaN         NaN

Data from URL:
            Name   Age        Ht no      Place  Unnamed: 4  Unnamed: 5
0       RajaRohan    19  2203A52126  Huzurabad         NaN         NaN
1  Vamshi krishna    19  2203A52127     Ambala         NaN         NaN
2         Avinash    19  2203A52227   Indurthi         NaN         NaN
3    Gopi krishna    21  2203A52076     Parkal         NaN         NaN
4          Sravan    19  2203A52099   Warangal         NaN         NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')